:root {
  --bg: #fff;
  --bg-dark: #888;
  --text: #000;
  --critical: #b00;
  --border: 3px solid var(--text);
  --padding: 2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #111;
    --bg-dark: #888;
    --text: #BBB;
    --critical: #d00;
    --border: 3px solid var(--text);
    --padding: 2rem;
  }
}

body {
  background-color: var(--bg);
  font-size: 20px;
  color: var(--text)
}

input {
  color: var(--text);
}

body * {
  font-family: Menlo, monospace;
  box-sizing: border-box;
  /* font-family: 'MD IO 0.4', Menlo, monospace */
  /* font-family: 'IBM Plex Mono', Menlo, monospace */
}

hr {
  border: 1.5px solid var(--text);
  background-color: var(--text);
}

label {
 
}
input:focus{
  outline: none;
}

input[type="text"],
input[type="number"] {
  padding: 0.5em;
  font-size: 20px;
  border: var(--border);
  background-color: transparent;
}

input[type="text"]:focus,
input[type="number"]:focus {
  background-color: var(--bg)
}

button { 
  padding: 1em;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: var(--border);
  color: var(--text);
  background-color: transparent;
  /* letter-spacing: 1px; */
}
button:hover {
  background-color: var(--text); 
  color: var(--bg)
}

button.critical:hover {
  border: 3px solid var(--critical);
  background-color: var(--critical)
}

form * {
  display: block;
}

label * {
  display: block;
}

.debug {
  font-size: 11px;
  display: none;
}

.project-name {
  font-weight: bold
}

.red {
  color: var(--critical)
}

.pl {
  padding-left: var(--padding)
}

.month {
  max-width: 40rem;
  margin: auto;
  padding-bottom: 4rem;
}
  
  .month-info {
    padding: var(--padding);
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
    .project {
      position: relative;
      padding: var(--padding);
      border: var(--border);
    }
    
      .next-prev {
        position: absolute;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        top: 1rem;
        right: 1rem; 
      }
      
      .next-prev button {
        
      }
      
      .create-project {
        width: 100%;
        transition: padding 250ms ease-in
      }
      
        .create-project:hover {
          padding: 2rem 1rem;
          transition: padding 125ms ease-out
        }

input {
  margin-bottom: 2rem;
}
