:root {
  --bg: #e7f5ef;
  --bg-dark: #B2C2BB;
  --text: #2F524B;
  --red: #B73534
}

body {
  background-color: var(--bg-dark);
  font-size: 20px;
  font-family: monospace;
  color: var(--text)
}

input[type="text"],
input[type="number"] {
  font-size: 20px;
/*   background-color: rgba(255, 255, 255, 0);
  border: 1px solid var(--text) */
}

form * {
  display: block;
}

label * {
  display: block;
}

.project-name {
  font-weight: bold
}

.red {
  color: var(--red)
}

.project {
  padding: 2rem;
  border: 1px dotted var(--text)
}

input {
  margin-bottom: 2rem;
}
